<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head">
</head>

<body>
    <nav th:replace="/fragments/navbar :: navbar-dark"></nav>
    <br>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header d-flex">
                <h2>Crear Editorial</h2>
                <button class="btn-dark ms-auto"><a class="px-5 py-2" th:href="@{/editorial/list}">Lista de Editoriales</a></button>
            </div>
            <div class="card-body">
                <form th:action="@{/editorial/save}" method="POST" th:object="${editorial}" class="col-6 mx-auto">
                    <input hidden th:field ="*{id}">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" th:field="*{nombre}">  
                    </div>
                    <button type="submit" class="btn-dark px-5 py-2 ms-auto">Guardar</button>
                    <button type="reset" class="btn-dark px-5 py-2 ms-auto">Volver</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>